.container {
	width: 800px;
	height: 800px;
	margin: auto;
	outline: 1px solid;
}

.col {
	width: 12.5px;
	height: 12.5px;
	/*outline: 1px solid;*/
	display: inline-block;
	background-color: white;
	border-radius: 50%;
}
.nav {
	display: flex;
	width: 800px;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 20px;

}

input {
	margin
	padding: 10px 5px;
	background-color: silver;
	border-radius: 5px;
}